{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Verificación MFA</title>
    <link rel="stylesheet" href="{% static 'AuthMGTI/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2 class="title">Verificación MFA</h2>

        {% if qr_base64 %}
            <p class="message">Escanea este código QR con Google Authenticator:</p>
            <img src="data:image/png;base64,{{ qr_base64 }}" alt="QR Code" class="qr-code">
        {% else %}
            <p class="message">Introduce el código de 6 dígitos desde Google Authenticator:</p>
        {% endif %}

        <!-- Formulario de código MFA -->
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="code" placeholder="Código de 6 dígitos" maxlength="6" pattern="\d{6}" required >
            </div>
            <button type="submit" class="button">Verificar</button>
        </form>

        <!-- Botón para regenerar QR -->
        <form method="get" action="{% url 'regenerate_qr' %}">
            <button type="submit" class="button secondary-button">Regenerar QR</button>
        </form>

        <!-- Mensajes -->
        {% if messages %}
            <div class="success-messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>
